*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 300;
}

.header-content {
  padding-top: 2em;
}

.sub-container {
  position: absolute;
  z-index: 2;
  top: 200px;
  left: 500px;
  margin: 0px auto;
  height: 250px;
  background-color: #000000;
  color: white;
}



h1 {
  font-size: 2.5em;
  margin: 50px 70px;
}

.h-head {
  color: grey;
  font-weight: 200;
  margin: 50px 70px;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}


.parallax {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}

section {
   margin-bottom: 50px;
}

.sub-heads::after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 10px 25px;
    border: 2px solid #3295be;
}


.top-container {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
    height: 640px;
}
/* You could use :after - it doesn't really matter */
.top-container::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(../images/DeathtoStock_Lonely_Commute-01-960w.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.middle-container {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
    height: 370px;
}
/* You could use :after - it doesn't really matter */
.middle-container::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(../images/DeathtoStock_Lonely_Commute-08-w960.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


.navbar {
  margin-bottom: 0px;

}
p {

    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 0 1.25rem;
    margin: 0 auto 1.875rem;
    font-size: 1.2em;
    line-height: 2;
    letter-spacing: .01rem;
}

.navbar-inverse .navbar-nav>li>a {
  font-size: 1.3em;
}

.navbar-inverse .navbar-brand {
  font-size: 1.5em;
}

.fa {
  font-size: 1.5em;
}

@media only screen and (max-width: 420px) {
      .sub-container {
      top: 50px;
      left: 0px;
    }

    .top-container:before {
      background-image: url(../images/DeathtoStock_Lonely_Commute-01-480w.jpg);
      background-position: center;
      background-size: contain;
    }

    .middle-container {
    height: 214px;
}
/* You could use :after - it doesn't really matter */
.middle-container::before {  
    background-image: url(../images/DeathtoStock_Lonely_Commute-08-w480.jpg);
}

}


@media only screen and (max-width: 361px) {
      .sub-container {

      left: 0px;
    }
    .top-container:before {
      background-image: url(../images/DeathtoStock_Lonely_Commute-01-480w.jpg);
    }
      .middle-container {
    height: 214px;
}
/* You could use :after - it doesn't really matter */
.middle-container::before {  
    background-image: url(../images/DeathtoStock_Lonely_Commute-08-w480.jpg);
}
}

@media only screen and (max-width: 320px) {
    .sub-container {

      left: 0px;
    }
    .top-container:before {
      background-image: url(../images/DeathtoStock_Lonely_Commute-08-w480.jpg);

    }
      .middle-container {
    height: 214px;
}
/* You could use :after - it doesn't really matter */
.middle-container::before {  
    background-image: url(../images/DeathtoStock_Lonely_Commute-08-w480.jpg);
}
}